body{
    text-decoration: none;
    text-align: center;
    font-family: 'Acme', sans-serif;
}
nav{
    background-color: gray;
    
}
nav ul{
   text-align: right;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    list-style: none;
}
nav li a{
    color: black;
    text-decoration: none;
}
li a{
    margin-top: 2px;
}
li a:hover{
    color: springgreen;
    background-color: wheat;
}
span{
    font-size:  500%;
    font-weight: bolder;
}
.column{
    float: left;
    width: 30%;
    height: 30%;

}
.row:after{
    clear: both;
    display: table;
    content: both;
}
#cont{
    background-color: rgb(14, 13, 13);
    color: white;
    padding-top: 2%;
}